<div class="form-group required">
    <label class="control-label" for="id_subject">Subject</label>
    <input class="form-control" id="id_subject" maxlength="200" name="subject" placeholder="Subject" value="<%= subject %>" required="required" title="" type="text">
</div>
<div class="form-group required">
    <label class="control-label" for="id_to">To</label>
    <input class="form-control" id="id_to" maxlength="200" name="to" placeholder="name@example.com" value="<%= to %>" required="required" title="" type="email">
</div>
<div class="form-group required">
    <label class="control-label" for="id_body">Body</label>
    <textarea class="form-control" id="id_body" name="body" placeholder="Type here your message" required="required" rows='5'></textarea>
</div>
