<div class='ibox float-e-margins'>
  <div class="ibox-title">
    <h2>Upcoming events</h2>
  </div>
  <div class="ibox-content">
    <div class="table-responsive">
      <span class="pull-right text-muted m-t-md m-b-md l-h-34">
      <%= events.length %> event<% if (events.length > 1){ %>s<% } %> found
      </span>

      <table class="table table-hover list-detail sprints projects table-l-fix">
        <thead>
          <tr>
            <th width="25%">Dates (UTC)</th>
            <th width="25%">Event name</th>
            <th width="50%">Details</th>
          </tr>
        </thead>
        <tbody>
          <% _.each(events, function(event){ %>
            <tr>
              <td><%= event.date_display %></td>
              <td>
                <div class='cut-text'><%= event.name %></div>
              </td>
              <td>
                <div class='cut-text'><%= event.details %></div>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</div>
