<div class="modal-dialog <%= size %>">
  <div class="modal-content">
  <% if (title) { %>
    <div class="modal-header">
      <% if (allowCancel) { %>
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <% } %>
      <h4 class="modal-title"><%= title %></h4>
    </div>
  <% } %>
  <div class="modal-body"><%= content %></div>
  <% if (showFooter) { %>
    <div class="modal-footer">
      <% if (allowCancel) { %>
        <% if (cancelText) { %>
          <button type="button" class="btn btn-white cancel"><%= cancelText %></button>
        <% } %>
      <% } %>
      <button type="button" class="btn btn-positive-choice ok"><%= okText %></button>
    </div>
  <% } %>
  </div>
</div>
