<div class="row">
    <div class="col-md-6">
        <div class="image-crop" style='height:300px; width:100%'>
            <img src="" style="max-width: 100%">
        </div>
    </div>
    <div class="col-md-6">
        <div class="btn-group actions">
            <button class="btn btn-white" id="zoomIn" type="button" data-action='zoom' data-value="0.1"><span class="fa fa-search-plus"></span></button>
            <button class="btn btn-white" id="zoomOut" type="button" data-action='zoom' data-value="-0.1"><span class="fa fa-search-minus"></span></button>
            <button class="btn btn-white" id="rotateLeft" type="button" data-action='rotate' data-value="45"><span class="fa fa-rotate-left"></span></button>
            <button class="btn btn-white" id="rotateRight" type="button" data-action='rotate' data-value="-45"><span class="fa fa-rotate-right"></span></button>
            <button class="btn btn-white" id="reset" type="button" data-action='reset' data-value=""><span class="fa fa-refresh"></span></button>
        </div>
        <h4>Preview image</h4>
        <div class="img-preview img-preview-sm"></div>
    </div>
</div>
