<div class='col-xs-6'>
    <h2>
        <a class="dropdown-toggle pull-left" data-toggle="dropdown" href="#" aria-expanded="false" id='breadcrumb'>
           <i class="fa fa-folder-o"></i>
        </a>
        <ul class="dropdown-menu dropdown-breadcrumb"></ul>
        <span class='m-l-xs f-18 color-grey-700'> > </span>
        <span id="folder-name" class="f-18 color-grey-700">Root folder</span>
    </h2>

</div>
<div class='col-xs-6'>
    <div class='pull-right full-width'>
        <form id='form-search-file'>
            <div class="input-group full-width">
                <select id='search_file' name='search_file' class="select2" style='width:100%'>
                    <option value=""></option>
                </select>
            </div>
        </form>
    </div>
</div>
