<div class="col-xs-10 m-t-4 no-padding">
    <a href="#" class="block cut-text link-folder">
        <i class="fa fa-folder d-inline"></i>
        <span class="cut-text" title="<%= name %>" id='name-folder'><%= name %></span>
    </a>
</div>
<div class="ibox-tools pull-right col-xs-2">
    <a class="dropdown-toggle d-inline pull-right n-cut-text" data-toggle="dropdown" href="#" aria-expanded="false">
       <i class="fa fa-ellipsis-v"></i>
    </a>
    <ul class="dropdown-menu dropdown-user">
        <% if (write) { %>
            <li><a href="#" class='edit-folder'>Edit</a></li>
            <li><a href="#" class='remove-folder'>Remove</a></li>
        <% } %>
    </ul>
</div>
