<div class="form-group required">
    <label class="control-label" for="id_project_name">Name</label>
    <input class="form-control" id="id_project_name" maxlength="200" name="project_name" placeholder="Name" required="required" title="" type="text">
</div>
<div class="form-group required">
    <label class="control-label" for="id_description">Description</label>
    <textarea class="form-control" id="id_description" name="description" placeholder="Description" required="required" rows='5'></textarea>
</div>
