
<div class="form-group required">
    <label class="control-label" for="id_name">Organization Name</label>
    <input class="form-control" id="id_name" maxlength="100" name="name" placeholder="Organization Name" required="required" title="" type="text">
</div>
<div class="form-group required">
    <label class="control-label" for="id_country">Country</label>
    <select class="form-control" id="id_country" name="country" required="required" title="">
    </select>
</div>

<div class="form-group required">
    <label class="control-label" for="id_industry">Industry</label>
    <select class="form-control" id="id_industry" name="industry" required="required" title="">
    </select>
</div>

<div class="form-group required">
    <label class="control-label" for="id_size">Size</label>
    <select class="form-control" id="id_size" name="size" required="required" title="">
    </select>
</div>

<div class="form-group required">
    <label class="control-label" for="id_market_value">Market Value</label>
    <input class="form-control" id="id_market_value" max="2147483647" name="market_value" placeholder="Market Value" required="required" title="" type="number">
</div>

<div class="form-group required">
    <label class="control-label" for="id_annual_revenue">Annual Revenue</label>
    <input class="form-control" id="id_annual_revenue" max="2147483647" name="annual_revenue" placeholder="Annual Revenue" required="required" title="" type="number">
</div>
