<div class='row'>
    <div class="col-md-12" id='cnt-position'>Option <%= position %></div>
</div>
<div class='row'>
    <div class='col-md-5'>
        <div class="form-group required">
            <label class="control-label" for="id_date_<%= cid %>">Date</label>
            <input type='text' name='date_<%= cid %>' id='id_date_<%= cid %>' required value="<%= date %>" class='form-control datepicker'>
        </div>
    </div>
    <div class='col-md-6'>
        <div class="form-group required">
            <label class="control-label" for="id_time_<%= cid %>">Time</label>
            <div class='input-group clockpicker' data-placement="left" data-align="top" data-autoclose="true">
                <input type='text' name='time_<%= cid %>' id='id_time_<%= cid %>' required value="<%= time %>" class='form-control'>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>
        </div>
    </div>
    <div class='col-md-1'>
        <i class="fa fa-trash delete pull-right" style='font-size: 25px'></i>
    </div>
</div>
