<div class="form-group required">
    <label class="control-label" for="id_new_password">Password</label>
    <input type='password' name='new_password' maxlength="200" class='form-control' id='id_new_password' required="required" placeholder="New password">
</div>

<div class="form-group required">
    <label class="control-label" for="id_re_new_password">Retype password</label>
    <input type='password' name='re_new_password' maxlength="200" class='form-control' id='id_re_new_password' required="required" placeholder="Retype new password">
</div>
